body {
  margin: 0;
  font-family: mr-eaves-modern, sans-serif
}
.containment {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden
}
h1 {
  position: absolute;
  margin: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  /* font-weight:  */
}

.top {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: -100%;
  left: 0;
  transition-property: top;
  transition-duration: .2s;
  transition-delay: 0
}
.top.ready {
  top: -80%;
  z-index: 2
}
.top.go {
  top: 0;
  z-index: 1
}
.left {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: -100vw;
  transition-property: left;
  transition-duration: .2s;
  transition-delay: 0;
  color: #FFFFFF
}
.left.ready {
  left: -85vw;
  z-index: 2
}
.left.go {
  left: 0;
  z-index: 1
}
.bottom {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 100%;
  left: 0;
  transition-property: top;
  transition-duration: .2s;
  transition-delay: 0
}
.bottom.ready {
  top: 80%;
  z-index: 2
}
.bottom.go {
  top: 0;
  z-index: 1
}
.right {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 100vw;
  transition-property: left;
  transition-duration: .2s;
  transition-delay: 0
}
.right.ready {
  left: 85vw;
  z-index: 2
}
.right.go {
  left: 0;
  z-index: 1
}


#top-go, #left-go, #right-go, #bottom-go {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
  position: fixed;
}
#top-go {
  height: 69px;
  top: 0;
  left: 69px;
  width: calc(100% - 138px)
}
#top-go > div {
  line-height: 69px;
  letter-spacing: 4px
}
#top-go.go > div::before {
  content: ' ';
  background-color: #EA0029;
  height: 4px;
  width: 189px;
  margin-left: -10px;
  margin-top: 32px;
  position: absolute;
  z-index: -1
}
#left-go {
  width: 69px;
  left: 0;
  top: 69px;
  height: calc(100% - 138px)
}
#left-go > div {
  width: 20px;
  height: 20px;
  background-color: #EA0029;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #EA0029;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
#left-go.go > div {
  background-color: #FFFFFF; /*shoutout to ie*/
  background-color: initial
}
#bottom-go {
  height: 69px;
  bottom: 0;
  width: calc(100% - 138px);
  left: 69px;
}
#bottom-go > div {
  line-height: 69px;
  letter-spacing: 4px
}
#bottom-go.go > div::before {
  content: ' ';
  background-color: #EA0029;
  height: 4px;
  width: 125px;
  margin-left: -35px;
  margin-top: 32px;
  position: absolute;
  z-index: -1
}
#right-go {
  width: 69px;
  right: 0;
  top: 69px;
  height: calc(100% - 138px)
}
#right-go > div {
  line-height: 69px;
  transform: rotate(-90deg);
  width: 200px;
  padding-bottom: 131px;
  position: absolute;
  top: calc(50% - 100px);
  letter-spacing: 4px
}
#right-go.go > div::before {
  content: ' ';
  background-color: #EA0029;
  height: 4px;
  width: 185px;
  margin-left: -32px;
  margin-top: 32px;
  position: absolute;
  z-index: -1
}


.panel {
  position: relative;
  width: calc(100% - 138px);
  height: calc(100% - 138px);
  margin: 69px;
  border: 1px solid #EA0029;
  background-color: white
}
#left .panel {
  border-color: #333333;
  background-color: #333333
}

.subpanel {
  height: 100%;
  width: 50%;
  display: inline-block
}
#bottom .subpanel {
  width: calc(50% - 228px);
  padding-left: 114px;
  padding-right: 114px;
  vertical-align: top
}
#right .subpanel {
  width: calc(50% - 136px);
  padding-left: 68px;
  padding-right: 68px;
  vertical-align: top
}
#right .subpanel + .subpanel {
  width: 50%;
  padding: 0
}

.cal-btn {
  width: 212px;
  border: 1px solid #EA0029;
  font-size: 20px;
  color: #EA0029;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
}
#top .cal-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%)
}

.countdown {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px
}
.times div {
  font-family: lust-didone, serif;
  font-size: 96px;
  color: #EA0029
}
.labels div {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px
}
.times div, .labels div {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: auto
}

.default-input {
  width: calc(100% - 42px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: mr-eaves-modern, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #757575;
  /* margin-bottom: 16px */
}
.mc-field-group {
  margin-bottom: 16px
}

.default-input::placeholder {
  text-transform: lowercase
}
.default-input:-ms-input-placeholder {
  text-transform: lowercase
}
.default-input::-ms-input-placeholder {
  text-transform: lowercase
}

.rsvp {
  position: relative;
  width: 100%;
  top: calc(50% - 28px);
  transform: translateY(-50%)
}

.res-btn {
  border: 1px solid #EA0029;
  color: #FFFFFF;
  background-color: #EA0029;
  cursor: pointer;
  width: calc(50% - 12px);
  position: absolute;
  left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 16px
}
.res-btn + .res-btn {
  left: inherit;
  right: 0
}

.dis.res-btn {
  color: #EA0029;
  background-color: #FFFFFF
}

.address {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  position: absolute;
  top: 60%
}

#left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


#bottom p {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  letter-spacing: 8px;
  max-width: 450px;
  position: absolute;
  top: 40%
}
#right p {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  letter-spacing: 8px;
  max-width: 494px;
  position: absolute;
  top: 42%
}

#temperature {
  font-family: lust-didone, serif;
  font-size: 96px;
  line-height: 96px;
  color: #EA0029;
  position: absolute;
  top: 68px
}

#mce-success-response::before {
  content: "YOUR RSVP HAS BEEN SENT.";
  position: absolute;
  background-color: white;
}
#mce-success-response::after {
  content: "THANK YOU!";
  display: block;
  background-color: white;
}

.addeventatc_dropdown span {
  display: block;
  text-transform: uppercase
}
.mce_inline_error {
  text-transform: uppercase
}