body {
  margin: 0;
  font-family: mr-eaves-modern, sans-serif
}
.containment {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden
}
h1 {
  position: absolute;
  margin: 0;
  top: 80%;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px
}

#secret-static {
  position: absolute;
  z-index: 4;
  background-color: white;
  /* background-image: url(images/static.gif); */
  /* background-image: url(images/RSVP_June.mp4); */
  /* background-image: url(https://media.giphy.com/media/kNT9ucxJC0WFG/giphy.gif); */
  background-size: cover;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}
#secret-static video {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-height: 100%
}

.push-down .panel, .push-right .panel, .push-up .panel, .push-left .panel {
  transition-duration: .5s, .5s
}
.push-down .panel {
  top: 138px !important
}
.push-right .panel {
  left: 138px !important
}
.push-up .panel {
  top: -138px !important
}
.push-left .panel {
  left: -138px !important
}


.top, .left, .bottom, .right {
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 0;
  transition-duration: 0s, .2s;
  transition-delay: .2s, 0s;
}
.top.ready, .left.ready, .bottom.ready, .right.ready {
  z-index: 2;
  transition-duration: 0s, .5s;
  transition-delay: 0s, 0s
}
.top.go, .left.go, .bottom.go, .right.go {
  z-index: 1;
  transition-duration: 0s, .2s;
  transition-delay: .2s, 0s
}
.top {
  top: calc(-100% + 138px);
  left: 0;
  transition-property: z-index, top;
  /* transition: z-index 0s ease .5s, top .2s ease 0s */
}
.top.ready {
  top: calc(-100% + 138px + 138px)
}
.top.go {
  top: 0;
}
.left {
  top: 0;
  left: calc(-100vw + 138px);
  color: #FFFFFF;
  transition-property: z-index, left;
  /* transition: z-index 0s ease .5s, left .2s ease 0s */
}
.left.ready {
  left: calc(-100vw + 138px + 138px)
}
.left.go {
  left: 0;
}
.bottom {
  top: calc(100% - 138px);
  left: 0;
  transition-property: z-index, top;
  /* transition: z-index 0s ease .5s, top .2s ease 0s */
}
.bottom.ready {
  top: calc(100% - 138px - 138px)
}
.bottom.go {
  top: 0;
}
.right {
  top: 0;
  left: calc(100vw - 138px);
  transition-property: z-index, left;
  /* transition: z-index 0s ease .5s, left .2s ease 0s */
}
.right.ready {
  left: calc(100vw - 138px - 138px)
}
.right.go {
  left: 0;
}


#top-go, #left-go, #right-go, #bottom-go {
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  z-index: 3;
  position: fixed;
  background-color: #FFFFFF
}
#top-go {
  height: 69px;
  top: 0;
  left: 69px;
  width: calc(100% - 138px);
  transition-property: border-bottom;
  transition-duration: 0s;
  transition-delay: .2s;
  border-bottom: 0px solid #EA0029
}
#top-go > div {
  line-height: 69px;
  letter-spacing: 4px
}
#top-go:hover {
  border-bottom: 1px solid #EA0029;
  transition-delay: 0s
}
#top-go.go > div::before {
  content: ' ';
  background-color: #EA0029;
  height: 4px;
  width: 125px;
  margin-left: -35px;
  margin-top: 32px;
  position: absolute;
  z-index: -1
}
#left-go {
  width: 69px;
  left: 0;
  /* top: 69px;
  height: calc(100% - 138px); */
  top: 0;
  height: 100%
}
#left-go > div {
  width: 20px;
  height: 20px;
  background-color: #EA0029;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #EA0029;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}
/* #left-go:hover {
  border-right: 1px solid #EA0029
} */
#left-go.go > div {
  background-color: #FFFFFF; /*shoutout to ie*/
  background-color: initial
}
#bottom-go {
  height: 69px;
  bottom: 0;
  width: calc(100% - 138px);
  left: 69px;
  transition-property: border-top;
  transition-duration: 0s;
  transition-delay: .2s;
  border-top: 0px solid #EA0029
}
#bottom-go > div {
  line-height: 69px;
  letter-spacing: 4px
}
#bottom-go:hover {
  border-top: 1px solid #EA0029;
  transition-delay: 0s
}
#bottom-go.go > div::before {
  content: ' ';
  background-color: #EA0029;
  height: 4px;
  /* width: 189px; */
  width: 167px;
  margin-left: -10px;
  margin-top: 32px;
  position: absolute;
  z-index: -1
}
#right-go {
  width: 69px;
  right: 0;
  top: 69px;
  height: calc(100% - 138px);
  transition-property: border-left;
  transition-duration: 0s;
  transition-delay: .2s;
  border-left: 0px solid #EA0029
}
#right-go > div {
  line-height: 69px;
  transform: rotate(-90deg);
  width: 200px;
  padding-bottom: 131px;
  position: absolute;
  top: calc(50% - 100px);
  letter-spacing: 4px
}
#right-go:hover {
  border-left: 1px solid #EA0029;
  transition-delay: 0s
}
#right-go.go > div::before {
  content: ' ';
  background-color: #EA0029;
  height: 4px;
  width: 185px;
  margin-left: -32px;
  margin-top: 32px;
  position: absolute;
  z-index: -1
}


.panel {
  position: relative;
  transition-property: top, left;
  transition-duration: .2s, .2s;
  top: 0;
  left: 0;
  width: calc(100% - 140px);
  height: calc(100% - 140px);
  margin: 69px;
  border: 1px solid #EA0029;
  background-color: white
}
#left .panel {
  border-color: #333333;
  background-color: #333333
}

.subpanel {
  height: 100%;
  width: 50%;
  display: inline-block
}
#top .subpanel {
  width: calc(50% - 228px);
  padding-left: 114px;
  padding-right: 114px;
  vertical-align: top
}
#right .subpanel {
  width: calc(50% - 136px);
  padding-left: 68px;
  padding-right: 68px;
  vertical-align: top
}
#right .subpanel + .subpanel {
  width: 50%;
  padding: 0
}
#right .subpanel #map {
  width: calc(100% - 136px);
  height: calc(100% - 136px);
  margin: 68px
}

.cal-btn {
  width: 264px;
  border: 1px solid #EA0029;
  font-size: 20px;
  color: #EA0029;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  padding-top: 16px;
  padding-bottom: 16px;
}
.cal-btn .addeventatc_dropdown span {
  margin-top: 8px;
  color: #333333;
  font-weight: 200
}
#bottom .cal-btn {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%)
}


.countdown {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 1200px
}
.times div {
  font-family: lust-didone, serif;
  font-size: 96px;
  color: #EA0029
}
.labels div {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 4px
}
.times div, .labels div {
  display: inline-block;
  width: 20%;
  text-align: center;
  margin: auto
}

.default-input {
  width: calc(100% - 42px);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: mr-eaves-modern, sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: 1px solid #757575;
  /* margin-bottom: 16px */
}
.mc-field-group {
  margin-bottom: 16px
}

.default-input::placeholder {
  text-transform: lowercase
}
.default-input:-ms-input-placeholder {
  text-transform: lowercase
}
.default-input::-ms-input-placeholder {
  text-transform: lowercase
}

.rsvp {
  position: relative;
  width: 100%;
  top: calc(50% - 28px);
  transform: translateY(-50%)
}

.res-btn {
  border: 1px solid #EA0029;
  color: #FFFFFF;
  background-color: #EA0029;
  cursor: pointer;
  width: calc(50% - 12px);
  position: absolute;
  left: 0;
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 2px;
  margin-top: 16px
}
.res-btn + .res-btn {
  left: inherit;
  right: 0
}

.dis.res-btn {
  color: #EA0029;
  background-color: #FFFFFF
}

.address {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 4px;
  position: absolute;
  top: 60%
}

#left img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}


#top p {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  letter-spacing: 8px;
  max-width: 450px;
  position: absolute;
  top: 40%
}
#right p {
  font-size: 48px;
  font-weight: 200;
  margin: 0;
  letter-spacing: 8px;
  max-width: 494px;
  position: absolute;
  top: 42%
}

#temperature {
  font-family: lust-didone, serif;
  font-size: 96px;
  line-height: 96px;
  color: #EA0029;
  position: absolute;
  top: 68px
}
/* #temperature::after {
  content: html('&#8457;')
} */

.halfsies {
  width: calc(50% - 50px)
}
.halfsies + .halfsies {
  margin-left: 12px
}

#mce-success-response::before {
  content: "YOUR RSVP HAS BEEN SENT.";
  position: absolute;
  background-color: white;
}
#mce-success-response::after {
  content: "THANK YOU!";
  display: block;
  background-color: white;
}

.addeventatc_dropdown span {
  display: block;
  text-transform: uppercase
}
.mce_inline_error {
  text-transform: uppercase
}

@media screen and (max-width: 1337px) {
  .clear input {
    width: 100%
  }
  .clear input + input {
    bottom: -175px;
    left: 0 !important
  }
}

@media screen and (max-width: 1120px) {
  #right .subpanel {
    width: calc(100% - 136px);
    height: calc(50% - 68px)
  }
  #right .subpanel + .subpanel {
    width: 100%;
    height: calc(50% + 68px)
  }
  #temperature {
    right: 68px;
    top: inherit;
    bottom: calc(50% + 68px)
  }
  #right p {
    top: 68px
  }
  .address {
    top: inherit;
    bottom: calc(50% + 68px)
  }
}
@media screen and (max-width: 991px) {
  #top .subpanel {
    width: calc(100% - 228px);
    height: 50%
  }
  #top p {
    top: 25%;
    transform: translateY(-50%)
  }
  .rsvp {
    position: absolute;
    width: calc(100% - 228px);
    top: calc(70% - 28px)
  }
}
@media screen and (max-width: 767px) {
  #top .subpanel {
    padding-left: 8px;
    padding-right: 8px;
    width: calc(100% - 16px)
  }

  #right .subpanel {
    width: calc(100% - 68px);
    padding-left: 34px;
    padding-right: 34px;
    height: calc(50% - 34px)
  }
  #right .subpanel + .subpanel {
    height: calc(50% + 34px)
  }
  #right .subpanel #map {
    width: calc(100% - 68px);
    height: calc(100% - 68px);
    margin: 34px
  }
  #temperature {
    display: none
  }
  #right p {
    max-width: calc(100% - 120px);
    top: 34px;
    font-size: 32px
  }
  .address {
    bottom: calc(50% + 34px)
  }

  #bottom .subpanel {
    width: calc(100% - 114px);
    padding-left: 57px;
    padding-right: 57px
  }
  .rsvp {
    width: calc(100% - 114px)
  }
  .res-btn {
    font-weight: 200
  }

  .countdown {
    display: none
  }
  #bottom .cal-btn {
    top: 50%;
    transform: translate(-50%, -50%)
  }
}