/* not sass'd; see note */
body {
  margin: 0
}
.containment {
  position: absolute;
  width: 100%;
  height: 100vh
}
#scrope {
  position: absolute;
  width: 260px;
  left: calc(50% - 130px);
  top: calc(50% - 160px)
}

/* To "compile" this run the following js: */
/* function giveMeStyles(deg) {
  console.log(`#scrope.r${deg} {transform: rotate(${deg}deg)}`)
}
for (let i = 0; i < 360; i++) {
  giveMeStyles(i)
} */
#scrope.r0 {transform: rotate(0deg)}
#scrope.r1 {transform: rotate(1deg)}
#scrope.r2 {transform: rotate(2deg)}
#scrope.r3 {transform: rotate(3deg)}
#scrope.r4 {transform: rotate(4deg)}
#scrope.r5 {transform: rotate(5deg)}
#scrope.r6 {transform: rotate(6deg)}
#scrope.r7 {transform: rotate(7deg)}
#scrope.r8 {transform: rotate(8deg)}
#scrope.r9 {transform: rotate(9deg)}
#scrope.r10 {transform: rotate(10deg)}
#scrope.r11 {transform: rotate(11deg)}
#scrope.r12 {transform: rotate(12deg)}
#scrope.r13 {transform: rotate(13deg)}
#scrope.r14 {transform: rotate(14deg)}
#scrope.r15 {transform: rotate(15deg)}
#scrope.r16 {transform: rotate(16deg)}
#scrope.r17 {transform: rotate(17deg)}
#scrope.r18 {transform: rotate(18deg)}
#scrope.r19 {transform: rotate(19deg)}
#scrope.r20 {transform: rotate(20deg)}
#scrope.r21 {transform: rotate(21deg)}
#scrope.r22 {transform: rotate(22deg)}
#scrope.r23 {transform: rotate(23deg)}
#scrope.r24 {transform: rotate(24deg)}
#scrope.r25 {transform: rotate(25deg)}
#scrope.r26 {transform: rotate(26deg)}
#scrope.r27 {transform: rotate(27deg)}
#scrope.r28 {transform: rotate(28deg)}
#scrope.r29 {transform: rotate(29deg)}
#scrope.r30 {transform: rotate(30deg)}
#scrope.r31 {transform: rotate(31deg)}
#scrope.r32 {transform: rotate(32deg)}
#scrope.r33 {transform: rotate(33deg)}
#scrope.r34 {transform: rotate(34deg)}
#scrope.r35 {transform: rotate(35deg)}
#scrope.r36 {transform: rotate(36deg)}
#scrope.r37 {transform: rotate(37deg)}
#scrope.r38 {transform: rotate(38deg)}
#scrope.r39 {transform: rotate(39deg)}
#scrope.r40 {transform: rotate(40deg)}
#scrope.r41 {transform: rotate(41deg)}
#scrope.r42 {transform: rotate(42deg)}
#scrope.r43 {transform: rotate(43deg)}
#scrope.r44 {transform: rotate(44deg)}
#scrope.r45 {transform: rotate(45deg)}
#scrope.r46 {transform: rotate(46deg)}
#scrope.r47 {transform: rotate(47deg)}
#scrope.r48 {transform: rotate(48deg)}
#scrope.r49 {transform: rotate(49deg)}
#scrope.r50 {transform: rotate(50deg)}
#scrope.r51 {transform: rotate(51deg)}
#scrope.r52 {transform: rotate(52deg)}
#scrope.r53 {transform: rotate(53deg)}
#scrope.r54 {transform: rotate(54deg)}
#scrope.r55 {transform: rotate(55deg)}
#scrope.r56 {transform: rotate(56deg)}
#scrope.r57 {transform: rotate(57deg)}
#scrope.r58 {transform: rotate(58deg)}
#scrope.r59 {transform: rotate(59deg)}
#scrope.r60 {transform: rotate(60deg)}
#scrope.r61 {transform: rotate(61deg)}
#scrope.r62 {transform: rotate(62deg)}
#scrope.r63 {transform: rotate(63deg)}
#scrope.r64 {transform: rotate(64deg)}
#scrope.r65 {transform: rotate(65deg)}
#scrope.r66 {transform: rotate(66deg)}
#scrope.r67 {transform: rotate(67deg)}
#scrope.r68 {transform: rotate(68deg)}
#scrope.r69 {transform: rotate(69deg)}
#scrope.r70 {transform: rotate(70deg)}
#scrope.r71 {transform: rotate(71deg)}
#scrope.r72 {transform: rotate(72deg)}
#scrope.r73 {transform: rotate(73deg)}
#scrope.r74 {transform: rotate(74deg)}
#scrope.r75 {transform: rotate(75deg)}
#scrope.r76 {transform: rotate(76deg)}
#scrope.r77 {transform: rotate(77deg)}
#scrope.r78 {transform: rotate(78deg)}
#scrope.r79 {transform: rotate(79deg)}
#scrope.r80 {transform: rotate(80deg)}
#scrope.r81 {transform: rotate(81deg)}
#scrope.r82 {transform: rotate(82deg)}
#scrope.r83 {transform: rotate(83deg)}
#scrope.r84 {transform: rotate(84deg)}
#scrope.r85 {transform: rotate(85deg)}
#scrope.r86 {transform: rotate(86deg)}
#scrope.r87 {transform: rotate(87deg)}
#scrope.r88 {transform: rotate(88deg)}
#scrope.r89 {transform: rotate(89deg)}
#scrope.r90 {transform: rotate(90deg)}
#scrope.r91 {transform: rotate(91deg)}
#scrope.r92 {transform: rotate(92deg)}
#scrope.r93 {transform: rotate(93deg)}
#scrope.r94 {transform: rotate(94deg)}
#scrope.r95 {transform: rotate(95deg)}
#scrope.r96 {transform: rotate(96deg)}
#scrope.r97 {transform: rotate(97deg)}
#scrope.r98 {transform: rotate(98deg)}
#scrope.r99 {transform: rotate(99deg)}
#scrope.r100 {transform: rotate(100deg)}
#scrope.r101 {transform: rotate(101deg)}
#scrope.r102 {transform: rotate(102deg)}
#scrope.r103 {transform: rotate(103deg)}
#scrope.r104 {transform: rotate(104deg)}
#scrope.r105 {transform: rotate(105deg)}
#scrope.r106 {transform: rotate(106deg)}
#scrope.r107 {transform: rotate(107deg)}
#scrope.r108 {transform: rotate(108deg)}
#scrope.r109 {transform: rotate(109deg)}
#scrope.r110 {transform: rotate(110deg)}
#scrope.r111 {transform: rotate(111deg)}
#scrope.r112 {transform: rotate(112deg)}
#scrope.r113 {transform: rotate(113deg)}
#scrope.r114 {transform: rotate(114deg)}
#scrope.r115 {transform: rotate(115deg)}
#scrope.r116 {transform: rotate(116deg)}
#scrope.r117 {transform: rotate(117deg)}
#scrope.r118 {transform: rotate(118deg)}
#scrope.r119 {transform: rotate(119deg)}
#scrope.r120 {transform: rotate(120deg)}
#scrope.r121 {transform: rotate(121deg)}
#scrope.r122 {transform: rotate(122deg)}
#scrope.r123 {transform: rotate(123deg)}
#scrope.r124 {transform: rotate(124deg)}
#scrope.r125 {transform: rotate(125deg)}
#scrope.r126 {transform: rotate(126deg)}
#scrope.r127 {transform: rotate(127deg)}
#scrope.r128 {transform: rotate(128deg)}
#scrope.r129 {transform: rotate(129deg)}
#scrope.r130 {transform: rotate(130deg)}
#scrope.r131 {transform: rotate(131deg)}
#scrope.r132 {transform: rotate(132deg)}
#scrope.r133 {transform: rotate(133deg)}
#scrope.r134 {transform: rotate(134deg)}
#scrope.r135 {transform: rotate(135deg)}
#scrope.r136 {transform: rotate(136deg)}
#scrope.r137 {transform: rotate(137deg)}
#scrope.r138 {transform: rotate(138deg)}
#scrope.r139 {transform: rotate(139deg)}
#scrope.r140 {transform: rotate(140deg)}
#scrope.r141 {transform: rotate(141deg)}
#scrope.r142 {transform: rotate(142deg)}
#scrope.r143 {transform: rotate(143deg)}
#scrope.r144 {transform: rotate(144deg)}
#scrope.r145 {transform: rotate(145deg)}
#scrope.r146 {transform: rotate(146deg)}
#scrope.r147 {transform: rotate(147deg)}
#scrope.r148 {transform: rotate(148deg)}
#scrope.r149 {transform: rotate(149deg)}
#scrope.r150 {transform: rotate(150deg)}
#scrope.r151 {transform: rotate(151deg)}
#scrope.r152 {transform: rotate(152deg)}
#scrope.r153 {transform: rotate(153deg)}
#scrope.r154 {transform: rotate(154deg)}
#scrope.r155 {transform: rotate(155deg)}
#scrope.r156 {transform: rotate(156deg)}
#scrope.r157 {transform: rotate(157deg)}
#scrope.r158 {transform: rotate(158deg)}
#scrope.r159 {transform: rotate(159deg)}
#scrope.r160 {transform: rotate(160deg)}
#scrope.r161 {transform: rotate(161deg)}
#scrope.r162 {transform: rotate(162deg)}
#scrope.r163 {transform: rotate(163deg)}
#scrope.r164 {transform: rotate(164deg)}
#scrope.r165 {transform: rotate(165deg)}
#scrope.r166 {transform: rotate(166deg)}
#scrope.r167 {transform: rotate(167deg)}
#scrope.r168 {transform: rotate(168deg)}
#scrope.r169 {transform: rotate(169deg)}
#scrope.r170 {transform: rotate(170deg)}
#scrope.r171 {transform: rotate(171deg)}
#scrope.r172 {transform: rotate(172deg)}
#scrope.r173 {transform: rotate(173deg)}
#scrope.r174 {transform: rotate(174deg)}
#scrope.r175 {transform: rotate(175deg)}
#scrope.r176 {transform: rotate(176deg)}
#scrope.r177 {transform: rotate(177deg)}
#scrope.r178 {transform: rotate(178deg)}
#scrope.r179 {transform: rotate(179deg)}
#scrope.r180 {transform: rotate(180deg)}
#scrope.r181 {transform: rotate(181deg)}
#scrope.r182 {transform: rotate(182deg)}
#scrope.r183 {transform: rotate(183deg)}
#scrope.r184 {transform: rotate(184deg)}
#scrope.r185 {transform: rotate(185deg)}
#scrope.r186 {transform: rotate(186deg)}
#scrope.r187 {transform: rotate(187deg)}
#scrope.r188 {transform: rotate(188deg)}
#scrope.r189 {transform: rotate(189deg)}
#scrope.r190 {transform: rotate(190deg)}
#scrope.r191 {transform: rotate(191deg)}
#scrope.r192 {transform: rotate(192deg)}
#scrope.r193 {transform: rotate(193deg)}
#scrope.r194 {transform: rotate(194deg)}
#scrope.r195 {transform: rotate(195deg)}
#scrope.r196 {transform: rotate(196deg)}
#scrope.r197 {transform: rotate(197deg)}
#scrope.r198 {transform: rotate(198deg)}
#scrope.r199 {transform: rotate(199deg)}
#scrope.r200 {transform: rotate(200deg)}
#scrope.r201 {transform: rotate(201deg)}
#scrope.r202 {transform: rotate(202deg)}
#scrope.r203 {transform: rotate(203deg)}
#scrope.r204 {transform: rotate(204deg)}
#scrope.r205 {transform: rotate(205deg)}
#scrope.r206 {transform: rotate(206deg)}
#scrope.r207 {transform: rotate(207deg)}
#scrope.r208 {transform: rotate(208deg)}
#scrope.r209 {transform: rotate(209deg)}
#scrope.r210 {transform: rotate(210deg)}
#scrope.r211 {transform: rotate(211deg)}
#scrope.r212 {transform: rotate(212deg)}
#scrope.r213 {transform: rotate(213deg)}
#scrope.r214 {transform: rotate(214deg)}
#scrope.r215 {transform: rotate(215deg)}
#scrope.r216 {transform: rotate(216deg)}
#scrope.r217 {transform: rotate(217deg)}
#scrope.r218 {transform: rotate(218deg)}
#scrope.r219 {transform: rotate(219deg)}
#scrope.r220 {transform: rotate(220deg)}
#scrope.r221 {transform: rotate(221deg)}
#scrope.r222 {transform: rotate(222deg)}
#scrope.r223 {transform: rotate(223deg)}
#scrope.r224 {transform: rotate(224deg)}
#scrope.r225 {transform: rotate(225deg)}
#scrope.r226 {transform: rotate(226deg)}
#scrope.r227 {transform: rotate(227deg)}
#scrope.r228 {transform: rotate(228deg)}
#scrope.r229 {transform: rotate(229deg)}
#scrope.r230 {transform: rotate(230deg)}
#scrope.r231 {transform: rotate(231deg)}
#scrope.r232 {transform: rotate(232deg)}
#scrope.r233 {transform: rotate(233deg)}
#scrope.r234 {transform: rotate(234deg)}
#scrope.r235 {transform: rotate(235deg)}
#scrope.r236 {transform: rotate(236deg)}
#scrope.r237 {transform: rotate(237deg)}
#scrope.r238 {transform: rotate(238deg)}
#scrope.r239 {transform: rotate(239deg)}
#scrope.r240 {transform: rotate(240deg)}
#scrope.r241 {transform: rotate(241deg)}
#scrope.r242 {transform: rotate(242deg)}
#scrope.r243 {transform: rotate(243deg)}
#scrope.r244 {transform: rotate(244deg)}
#scrope.r245 {transform: rotate(245deg)}
#scrope.r246 {transform: rotate(246deg)}
#scrope.r247 {transform: rotate(247deg)}
#scrope.r248 {transform: rotate(248deg)}
#scrope.r249 {transform: rotate(249deg)}
#scrope.r250 {transform: rotate(250deg)}
#scrope.r251 {transform: rotate(251deg)}
#scrope.r252 {transform: rotate(252deg)}
#scrope.r253 {transform: rotate(253deg)}
#scrope.r254 {transform: rotate(254deg)}
#scrope.r255 {transform: rotate(255deg)}
#scrope.r256 {transform: rotate(256deg)}
#scrope.r257 {transform: rotate(257deg)}
#scrope.r258 {transform: rotate(258deg)}
#scrope.r259 {transform: rotate(259deg)}
#scrope.r260 {transform: rotate(260deg)}
#scrope.r261 {transform: rotate(261deg)}
#scrope.r262 {transform: rotate(262deg)}
#scrope.r263 {transform: rotate(263deg)}
#scrope.r264 {transform: rotate(264deg)}
#scrope.r265 {transform: rotate(265deg)}
#scrope.r266 {transform: rotate(266deg)}
#scrope.r267 {transform: rotate(267deg)}
#scrope.r268 {transform: rotate(268deg)}
#scrope.r269 {transform: rotate(269deg)}
#scrope.r270 {transform: rotate(270deg)}
#scrope.r271 {transform: rotate(271deg)}
#scrope.r272 {transform: rotate(272deg)}
#scrope.r273 {transform: rotate(273deg)}
#scrope.r274 {transform: rotate(274deg)}
#scrope.r275 {transform: rotate(275deg)}
#scrope.r276 {transform: rotate(276deg)}
#scrope.r277 {transform: rotate(277deg)}
#scrope.r278 {transform: rotate(278deg)}
#scrope.r279 {transform: rotate(279deg)}
#scrope.r280 {transform: rotate(280deg)}
#scrope.r281 {transform: rotate(281deg)}
#scrope.r282 {transform: rotate(282deg)}
#scrope.r283 {transform: rotate(283deg)}
#scrope.r284 {transform: rotate(284deg)}
#scrope.r285 {transform: rotate(285deg)}
#scrope.r286 {transform: rotate(286deg)}
#scrope.r287 {transform: rotate(287deg)}
#scrope.r288 {transform: rotate(288deg)}
#scrope.r289 {transform: rotate(289deg)}
#scrope.r290 {transform: rotate(290deg)}
#scrope.r291 {transform: rotate(291deg)}
#scrope.r292 {transform: rotate(292deg)}
#scrope.r293 {transform: rotate(293deg)}
#scrope.r294 {transform: rotate(294deg)}
#scrope.r295 {transform: rotate(295deg)}
#scrope.r296 {transform: rotate(296deg)}
#scrope.r297 {transform: rotate(297deg)}
#scrope.r298 {transform: rotate(298deg)}
#scrope.r299 {transform: rotate(299deg)}
#scrope.r300 {transform: rotate(300deg)}
#scrope.r301 {transform: rotate(301deg)}
#scrope.r302 {transform: rotate(302deg)}
#scrope.r303 {transform: rotate(303deg)}
#scrope.r304 {transform: rotate(304deg)}
#scrope.r305 {transform: rotate(305deg)}
#scrope.r306 {transform: rotate(306deg)}
#scrope.r307 {transform: rotate(307deg)}
#scrope.r308 {transform: rotate(308deg)}
#scrope.r309 {transform: rotate(309deg)}
#scrope.r310 {transform: rotate(310deg)}
#scrope.r311 {transform: rotate(311deg)}
#scrope.r312 {transform: rotate(312deg)}
#scrope.r313 {transform: rotate(313deg)}
#scrope.r314 {transform: rotate(314deg)}
#scrope.r315 {transform: rotate(315deg)}
#scrope.r316 {transform: rotate(316deg)}
#scrope.r317 {transform: rotate(317deg)}
#scrope.r318 {transform: rotate(318deg)}
#scrope.r319 {transform: rotate(319deg)}
#scrope.r320 {transform: rotate(320deg)}
#scrope.r321 {transform: rotate(321deg)}
#scrope.r322 {transform: rotate(322deg)}
#scrope.r323 {transform: rotate(323deg)}
#scrope.r324 {transform: rotate(324deg)}
#scrope.r325 {transform: rotate(325deg)}
#scrope.r326 {transform: rotate(326deg)}
#scrope.r327 {transform: rotate(327deg)}
#scrope.r328 {transform: rotate(328deg)}
#scrope.r329 {transform: rotate(329deg)}
#scrope.r330 {transform: rotate(330deg)}
#scrope.r331 {transform: rotate(331deg)}
#scrope.r332 {transform: rotate(332deg)}
#scrope.r333 {transform: rotate(333deg)}
#scrope.r334 {transform: rotate(334deg)}
#scrope.r335 {transform: rotate(335deg)}
#scrope.r336 {transform: rotate(336deg)}
#scrope.r337 {transform: rotate(337deg)}
#scrope.r338 {transform: rotate(338deg)}
#scrope.r339 {transform: rotate(339deg)}
#scrope.r340 {transform: rotate(340deg)}
#scrope.r341 {transform: rotate(341deg)}
#scrope.r342 {transform: rotate(342deg)}
#scrope.r343 {transform: rotate(343deg)}
#scrope.r344 {transform: rotate(344deg)}
#scrope.r345 {transform: rotate(345deg)}
#scrope.r346 {transform: rotate(346deg)}
#scrope.r347 {transform: rotate(347deg)}
#scrope.r348 {transform: rotate(348deg)}
#scrope.r349 {transform: rotate(349deg)}
#scrope.r350 {transform: rotate(350deg)}
#scrope.r351 {transform: rotate(351deg)}
#scrope.r352 {transform: rotate(352deg)}
#scrope.r353 {transform: rotate(353deg)}
#scrope.r354 {transform: rotate(354deg)}
#scrope.r355 {transform: rotate(355deg)}
#scrope.r356 {transform: rotate(356deg)}
#scrope.r357 {transform: rotate(357deg)}
#scrope.r358 {transform: rotate(358deg)}
#scrope.r359 {transform: rotate(359deg)}